<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <%- partial('post/category') %>
  </div>
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <footer class="article-footer">
      <% if (config.baidushare || theme.baidushare){ %>
        <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link" data-share="baidu" data-title="<%= post.title %>"><%= __('share') %></a>
      <% } else { %>
        <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><%= __('share') %></a>
      <% } %>

      <% if (post.comments && config.wy_shortname){ %>
        <a href="<%- post.permalink %>#wy_thread" class="article-comment-link"><%= __('comments') %></a>
        <a class="cloud-tie-join-count" href="javascript:void(0);">
  <span class="icon-comment"></span>
  <span class="join-count">0</span>
  <span class="join-text">人参与</span>
</a>
<!-- DOM元素 -->
<!-- 根据站点情况，配置data-url或data-sourceId中的一个即可 -->
<span
  lang="join-count"
  class="join-count"
  data-url="<%- post.permalink %>"
  data-sourceId=""
>0</span>
<!-- JavaScript 配置 -->
<script>var yunModuleEnv = true;</script>
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
<script>
  var yunTieProductKey = "79401510bd4c47b2adc27dd65da90a2e";
  Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vZXh0ZW5kL2xpc3Rfam9pbl9zY3JpcHQuaHRtbA==", true);
</script>
      <% } %>

      <%- partial('post/tag') %>
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments && config.wy_shortname){ %>
  <section id="comments">
    <div id="wy_thread">
      <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
      <noscript>Please enable JavaScript</noscript>
    </div>
  </section>
<% } %>